.item-wrapper {
  background-color: black;
  height: 100%;
  color: #fff;
}

.item-view {
  height: 100%;
  background-color: crimson;
}

.item-container {
  display: grid;
  height: 100%;
  grid-template-rows: auto auto;
}

.youtube-viewver {
  background-color: #d3363e;
}

.details {
  height: 100%;
  align-items: center;
  min-width: 640px;
  padding: 2rem;
  overflow-y: auto;
}
