.item-wrapper {
  background-color: black;
  height: 100%;
  padding: 0 15vw;
  color: #fff;
}

.item-view {
  height: 100%;
  background-color: #d31c24;
}

.item-container {
  display: grid;
  height: 100%;
  grid-template-rows: minmax(auto, 50vh) auto;
}

.youtube-viewver {
  background-color: #d3363e;
}

.details {
  height: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  padding: 2rem;
}
