.list-wrapper {
  display: flex;
  background-color: black;
  height: 100%;
  color: #fff;
}

.list-view {
  height: 100%;
  background-color: crimson;
}

.list-container {
  padding: 3vh 4vw 5vh 4vw;
  height: inherit;
  height: -webkit-fill-available;
  overflow-y: auto;
}
